area:hover{
background-color: gray;
cursor: pointer;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
    font-size: 0.8rem;
}
.float-child.map {
    width: 40%;
    float: left;
    padding: 20px;
}  

.float-child.table {
    width: 60%;
    float: left;
    padding: 20px;
}  

.actions-btn {
    float: right;
    display: inline-block ;
}

.control {
    margin-bottom: 0.5rem;
  }
  
.control label {
font-weight: bold;
margin-bottom: 0.5rem;
color: black;
display: block;
text-align: left;
font-size: 1.5rem;
}

.control input {
display: block;
font: inherit;
width: 100%;
border-radius: 4px;
border: 1px solid #e0dbe4;
padding: 0.25rem;
background-color: white;
text-align: left;
}

.control label:after {
    content:" *";
    color: red;
  }